
/* Start Variables */
:root {
--main-color: green;
--secondary-color: #2c4755;
--section-padding: 60px;
--section-background: #f6f6f6;
--main-duration: 0.5s;
}
/* End Variables */


/*Start Global Rlules*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans',sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}
/*Responsive web*/

/* small*/
@media(min-width:768px){
    .container{
        width: 750px;
    }
}

/*Meduim*/
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/*large*/
@media (min-width:1200px) {
    .container{
        width:1170px;
    }
}
/*End Global Rules */

/*start componanent*/
.special-heading{
color:#ebeced ;
font-size: 100px;
text-align: center;
font-weight: 800;
letter-spacing: -3px;
margin: 0;
max-width: 100%;
}
.special-heading+p{
margin: -30px 0 0;
font-size: 20px;
text-align: center;
color: #797979;
}
@media(max-width:767px){
.special-heading{
    font-size: 60px;
}
.special-heading+p{
    margin-top:-20px ;
}
}
/*end component*/

/*start Header*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .Logo{
    width: 130px;
    height: 80px;
}
.header .Links{
position:relative;
}
.header .Links .Icon:hover span:nth-child(2){
    width: 100%;
}
.header .Links .Icon{
width: 30px;
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
margin-top: 20px;
}
.header .Links .Icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .Links .Icon span:first-child{
    width: 100%;
}
.header .Links .Icon span:nth-child(2){
    width: 60%;
    transition: width 1s;
}
.header .Links .Icon span:last-child{
    width: 100%;
}
.header .Links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute ;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .Links ul::before{
    content:"";
    border-width:10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .Links:hover ul{
display:block;
}
.header .Links ul li a{
display: block;
padding: 15px; 
text-decoration: none;
color: #222;
transition: 0.3s;
}
.header .Links ul li a:hover{
    padding-left: 25px;
    color: green;
}
.header .Links ul li:not(:last-child) a {
    border-bottom: 1px solid#ddd ;
}
/*End Header*/


/*start Landing section*/
.Landing{
    background-image:url(../Images/agri5.jpg);
    background-size:cover;
    height:80vh;
    position: relative;
}
.Landing .intro-text {
position: absolute;
left: 50%;
top: 40%;
width: 320px;
max-width: 100%;
transform: translate(-50%,-50%);
text-align: center;
}
.Landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.Landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color:white;
    font-size: 20px;
    font-weight: 800;
}
/*End Landing*/


/*Start Features*/
.feature{
padding-top: 60px;
padding-bottom: 60px;
background-color: #f6f6f6;
} 
.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 10px;
}

.feature .feat{
padding: 20px;
text-align: center;
transition:background-color 0.3s,transform 0.3s,padding 0.3s,border-raduis 0.3s,border-color 0.3s;
}
.feature .feat:hover{
background: rgb(80, 184, 80);             
padding: 10px 20px;   
transform: scale(1.1);
border-color: black; 
border-radius: 5px; 
}
.feature .feat i{
color: var(--main-color);
}

.feature .feat h3{
font-weight: 800;
margin: 30px 0;
}

.feature .feat p{
line-height: 1.8;
color: #777;
font-size: 17px;
}
/*End Feature*/


/*start services*/
.services{
padding-top: 60px;
padding-bottom: 60px;
}

.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 100px;
}
.services .services-content .srv{
display: flex;
margin-bottom: 40px;
transition:background-color 0.3s,transform 0.3s,padding 0.3s,border-raduis 0.3s,border-color 0.3s;
}
.services .services-content .srv:hover{
background: rgb(80, 184, 80);             
padding: 10px 20px;   
transform: scale(1.1);
border-color: black; 
border-radius: 5px; 
}

@media(max-width:767px){
.services .services-content .srv{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
}
.services .services-content .srv i{
color: var(--main-color);
margin-bottom: 10px;
font-weight: bold;
font-size: 30px;
width:60px;
}
.services .services-content .srv .text{
flex: 1;
}
.services .services-content .srv .text h3{
margin: 0 0 13px;
}
.services .services-content .srv .text p{
color: #444;
font-weight: 300;
line-height: 1.4;
}
.services .services-content .image{
text-align: center;
position: relative;
}
.services .services-content .image img{
width: 260px;
}
.services .services-content .image::before{
content: "";
position: absolute;
right:0;
top: -72px;
background-color: var(--main-color);
width: 100px;
height:150%;
z-index: -1;
}

@media(max-width:1199px) {
    .image-column{
        display: none;
    }
}
/*End services*/


/*Start Protolio*/
.Protfolio{
padding-top: 60px;
padding-bottom: 60px;
background-color: #f6f6f6;
}
.Protfolio .Protfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 90px;
}
.Protfolio .Protfolio-content .card{
    background-color: white;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.Protfolio .Protfolio-content .card:hover{
    transform: translatey(-15px);
    box-shadow: 10px 10px 30px rgba(34, 255, 0, 0.3);
}
.Protfolio .Protfolio-content .card img{
width: 100%;
height: 60%;
}

.Protfolio .Protfolio-content .card .info{
padding: 20px;
}

.Protfolio .Protfolio-content .card .info h3{
margin: 0;
}

.Protfolio .Protfolio-content .card .info p{
color: #777;
line-height: 1.5;
margin-bottom: 0;
margin-top: 10px;
}
@media(max-width:767px){
.Protfolio .Protfolio-content .card .info{
    text-align: center;
}
}
/*end Protolio*/

/*Start about*/
.About{
padding-top: 60px;
padding-bottom: 60px;
}
@media(max-width:991px){
.About .about-content{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
}
.About .about-content{
    margin-top:100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.About .about-content .imge{
    position: relative;
    width:290px;
    height: 400px;
}
.About .about-content .imge img{
max-width:100%;
height: 80%;
}
@media(max-width:991px){
.About .about-content .imge img{
    margin: 0 auto;
}
}
.About .about-content .imge::before{
content: "";
position: absolute;
top: -42px;
left: -30px;
background-color:#ebeced;
width: 100px;
height:100%;
z-index: -1;
}

.About .about-content .imge::after{
content: "";
position: absolute;
width: 120px;
border-left: 70px solid var(--main-color);
border-bottom: 70px solid var(--main-color);
height:200px;
right: -150px;
top: -40px;
z-index: -1;
}

@media(max-width:991px){
.About .about-content .imge::before,.About .about-content .imge::after{
    display: none;
}
}
.About .about-content .text{
flex: 1;
padding-left: 200px;
}
@media(max-width:991px){
.About .about-content .text{
    padding-left:0;
}
}
.About .about-content .text p:first-of-type{
font-weight: bold;
line-height: 1.8;
margin-bottom: 50px;
}
.About .about-content .text hr{
width: 50%;
display: inline-block;
border-color: var(--main-color); 
}
.About .about-content .text p:last-of-type{
    font-weight: bold;
line-height: 1.8;
color: #777;
}

/*End about*/


/*Start contact*/

.contact{
padding-top: 60px;
padding-bottom: 60px;
background-color: #777;
}
.contact .container .special-heading+p{
    color: black;
}
.contact .info{
padding-top: 60px;
padding-bottom: 60px;  
text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
.contact .info .social i{
    margin-left: 10px;
    color: white;
}

@media(max-width:767px){
.contact .info .link,
.contact .info .label{
    font-size: 25px;
}
}
/*End Contact*/


/*Start Footer*/
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font: 18px;
}

.footer span{
    font-weight: bold;
    color: blue;
}

/*End Footer*/